body {
    margin: 0;
    padding: 0;
}


#cabecalho {
    display: flex;
    flex-direction: row;
 justify-content: space-between ;

    background-color: #1c2752;
    width: 100%;
    height: 75px;
    background-repeat: no-repeat;
    text-decoration: none;
align-content: center;
align-items: center;
}

#navegador_esquerda{

    display: flex;
 
    flex-wrap: nowrap;
    justify-self: left;
    justify-content: space-between     ;
    align-content: center;
    text-align: center;
    /* color: white; */
   size: 50;
    width: 40%;
    align-items: center;
    text-decoration: none;
  margin-left: 10px;
}
.menu_texts{
    text-decoration: none;
    color: white;
    text-decoration: none;
   
   font-size: large;
}
#menu_texts{
    text-decoration: none;
    color: white;
    text-decoration: none;
   
   font-size: large;


}
#logo  {
    
width: 50px;
height: 50px;

}
#logo:hover{
    transform: rotate(360deg);
    transition-duration: 500ms;
    align-self: center;
}
#text-menu{
color: white;
size: 10pt;
}

#chevrom{
    width: 15px;
    height: 15px;
}

#chevrom:hover{
    transform: rotate(180deg);
    transition-duration: 500ms;
    align-self: center;
}
#nav_chevrom{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#nav_direita{
  display: flex;
    justify-self: right;
    align-self: center;
    align-content: center;
    justify-content: space-around;
    width: 30%;
    text-decoration: none;
    

  
}

#cadastrar{
    /* background-color: rgb(104, 176, 104); */
    width: 20%;
    height: 25px;
    align-items: center;
    display: flex;
    align-self: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 10px;
    border: rgb(104, 176, 104);
    z-index: 1;

}
#cadastrar button{
    border-radius: 5px;
    width: 100%;
    height: 100%;
background-color:rgb(104, 176, 104) ;
color: aliceblue;
font-size: medium;
border: none;

/* #cadastrar button:hover{
background-color:0.7 ;
} */
#cadastrar button {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: rgb(104, 176, 104);
    color: aliceblue;
    font-size: medium;
    border: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
}

#cadastrar button:hover {
    background-color: rgb(84, 156, 84); /* Um tom mais escuro no hover */
}
